<extend name="Base/common"/>

<block name="body">
    <link type="text/css" rel="stylesheet" href="__CSS__/index2.css"/>
    
       <!--zp  添加中间内容开始-->
	   <div style="width:100%;height:98px;float:left;background-color:#ffffff">
			<div style="width:1010px;;margin:0 auto;margin-bottom:500px;">
				<div style="float:left;margin:30px 0px 0px 100px;width:144px;height:50px">
					<img src="/Public/images/picture/tx_goole_logo.png">
				</div>
				<div style="float:left;margin:35px 0px 0px 15px;;">
					<form id="search-form" method="get" action="http://www.google.com.hk/search" target="__blank">
						<div class="search" style="float:left;color:#1484ff;">
							<input type="text" name="q" class="input-box">
							<input type="hidden" name="ie" value="GB2312"> 
							<input type="hidden" name="oe" value="GB2312">
							<input type="hidden" name="hl" value="zh-CN">
						</div>
						<button style="height:40px;width:100px;float:left;margin-top:-2px;background-image:url('/Public/images/picture/tx_search2.png');border:0px" type="submit" name="btnG" class="search-button"></button>

					</form>
				</div>
			</div>
		</div>


<div style="width: 100%;float:left;background-color:#ffffff" class="kuzhan">
	<div style="width: 1010px; height: 900px; margin: 0 auto">


		<div style="float:left;padding: 0px 0px 20px 0px; margin: 0 auto">

			<div>
				<h3>酷站分享</h3>
				<div>
					<ul style="border:1px solid #ccc;float:left;padding:20px 0px 20px 45px;margin-top: -11px;">
						<li class="trbg1"><a target="__blank" href="http://www.yahoo.com/" id="5567"><img class="img_style" src="/Public/images/picture/yahoo.png" /></a><div style="text-align:center;">雅虎</div></li>
						<li class="trbg1"><a target="__blank" href="https://www.google.com/" id="5567"><img class="img_style" src="/Public/images/picture/google.png" /></a><div style="text-align:center;">谷歌</div></li>
						<li class="trbg1"><a target="__blank" href="http://zh.wikipedia.org/" id="5567"><img class="img_style"src="/Public/images/picture/wiki.png" /></a><div style="text-align:center;">维基百科</div></li>
						<li class="trbg1"><a target="__blank" href="http://www.imdb.com/" id="5567"><img class="img_style"src="/Public/images/picture/imdb.png" /></a><div style="text-align:center;">IMDB</div></li>
						<li class="trbg1"><a target="__blank" href="http://www.ebay.com/" id="5567"><img class="img_style"src="/Public/images/picture/ebay.png" /></a><div style="text-align:center;">eBay</div></li>
						<li class="trbg1"><a target="__blank" href="https://www.youtube.com/" id="5567"><img class="img_style"src="/Public/images/picture/youtube.png" /></a><div style="text-align:center;">Youtube</div></li>
						<li class="trbg1"><a target="__blank" href="https://www.facebook.com/" id="5567"><img class="img_style"src="/Public/images/picture/facebook.png" /></a><div style="text-align:center;">Facebook</div></li>
						<li class="trbg1"><a target="__blank" href="http://twitter.com/" id="5567"><img class="img_style"src="/Public/images/picture/twitter.png" /></a><div style="text-align:center;">Twitter</div></li>
						<li class="trbg1"><a target="__blank" href="https://www.tumblr.com/" id="5567"><img class="img_style"src="/Public/images/picture/tumblr.png" /></a><div style="text-align:center;">Tumblr</div></li>

						<li class="trbg1"><a target="__blank" href="http://www.naver.com/" id="5567"><img class="img_style"src="/Public/images/picture/naver.png" /></a><div style="text-align:center;">Naver</div></li>
						<li class="trbg1"><a target="__blank" href="https://www.pinterest.com/" id="5567"><img class="img_style"src="/Public/images/picture/pinterest.png" /></a><div style="text-align:center;">Pinterest</div></li>
						<li class="trbg1"><a target="__blank" href="https://www.linkedin.com" id="5567"><img class="img_style"src="/Public/images/picture/linkedin.png" /></a><div style="text-align:center;">Linkendin</div></li>
						<li class="trbg1"><a target="__blank" href="http://www.yelp.com/" id="5567"><img class="img_style"src="/Public/images/picture/yelp.png" /></a><div style="text-align:center;">Yelp点评</div></li>
						<li class="trbg1"><a target="__blank" href="http://beijing.craigslist.com.cn/" id="5567"><img class="img_style"src="/Public/images/picture/craigslist.png" /></a><div style="text-align:center;">Craigslist</div></li>
						<li class="trbg1"><a target="__blank" href="http://www.about.com/" id="5567"><img class="img_style"src="/Public/images/picture/about.png" /></a><div style="text-align:center;">About</div></li>
						<li class="trbg1"><a target="__blank" href="https://www.paypal.com/" id="5567"><img class="img_style"src="/Public/images/picture/paypal.png" /></a><div style="text-align:center;">Paypal</div></li>
						<li class="trbg1"><a target="__blank" href="http://www.twitch.tv/" id="5567"><img class="img_style"src="/Public/images/picture/twitch.png" /></a><div style="text-align:center;">Twitch</div></li>
						<li class="trbg1"><a target="__blank" href="http://www.yidio.com/" id="5567"><img class="img_style"src="/Public/images/picture/yidio.png" /></a><div style="text-align:center;">Yidio</div></li>
						<li class="trbg1"><a target="__blank" href="http://www.gamer.com.tw/" id="5567"><img class="img_style"src="/Public/images/picture/gamer.png" /></a><div style="text-align:center;">Gamer</div></li>
						<li class="trbg1"><a target="__blank" href="https://www.flickr.com/" id="5567"><img class="img_style"src="/Public/images/picture/flickr.png" /></a><div style="text-align:center;">Flickr</div></li>
						<li class="trbg1"><a target="__blank" href="http://www.amazon.com/" id="5567"><img class="img_style"src="/Public/images/picture/amazon.png" /></a><div style="text-align:center;">Amazon</div></li>
						<li class="trbg1"><a target="__blank" href="http://www.apple.com/" id="5567"><img class="img_style"src="/Public/images/picture/apple.png" /></a><div style="text-align:center;">Apple</div></li>
						<li class="trbg1"><a target="__blank" href="http://www.vogue.com.cn/" id="5567"><img class="img_style"src="/Public/images/picture/vogue.png" /></a><div style="text-align:center;">Vogue</div></li>
						<li class="trbg1"><a target="__blank" href="https://www.nytsyn.com/" id="5567"><img class="img_style"src="/Public/images/picture/new.png" /></a><div style="text-align:center;">纽约时报</div></li>
						<li class="trbg1"><a target="__blank" href="http://www.nicovideo.jp/" id="5567"><img class="img_style"src="/Public/images/picture/niconico.png" /></a><div style="text-align:center;">Niconico</div></li>
						<li class="trbg1"><a target="__blank" href="http://www.backchina.com/" id="5567"><img class="img_style"src="/Public/images/picture/backchina.png" /></a><div style="text-align:center;">Backchina</div></li>
						<li class="trbg1"><a target="__blank" href="http://www.aomiwang.com" id="5567"><img class="img_style"src="/Public/images/picture/aomiwang.png" /></a><div style="text-align:center;">Aomilwang</div></li>
						<li class="trbg1"><a target="__blank" href="http://www.gaoschinesecuisine.com/video/" id="5567"><img class="img_style"src="/Public/images/picture/youmaker.png" /></a><div style="text-align:center;">Youmaker</div></li>
						<li class="trbg1"><a target="__blank" href="http://www.break.com/" id="5567"><img class="img_style"src="/Public/images/picture/break.png" /></a><div style="text-align:center;">BREAK</div></li>
						<li class="trbg1"><a target="__blank" href="http://www.dailymotion.com/" id="5567"><img class="img_style"src="/Public/images/picture/dailymotion.png" /></a><div style="text-align:center;">Dailmotion</div></li>


					</ul>
				</div>
			</div>


			<div style="float:left;">
				<h3
					>搜索引擎</h3>
				<div>
					<ul style="margin-top: -10px; margin-left: -20px;margin-top: -11px;">
						<li class="trbg"><a target="__blank" href="http://g.cn" id="5567">Google</a></li>
						<li class="trbg"><a target="__blank" href="http://www.yahoo.com" id="5568">Yahoo!</a></li>
						<li class="trbg"><a target="__blank" href="http://www.yandex.ru" id="5569">Yandex[俄]</a></li>
						<li class="trbg"><a target="__blank" href="http://www.goo.ne.jp" id="5570">Goo[日]</a></li>
						<li class="trbg"><a target="__blank" href="http://www.aol.com" id="5571">AOLSearch[美]</a></li>
						<li class="trbg"><a target="__blank" href="http://www.alltheweb.com" id="5572">Allthe
								web</a></li>
						<li class="trbg"><a target="__blank" href="http://www.searchengine.com"
							id="5573">SearchEngine[英]</a></li>
						<li class="trbg"><a target="__blank" href="http://www.search.com" id="5574">CNetSearch[美]</a></li>
						<li class="trbg"><a target="__blank" href="http://search.netscape.com"
							id="5575">Netscape[美]</a></li>
						<li class="trbg"><a target="__blank" href="http://www.godado.it" id="5576">Godado[意]</a></li>
						<li class="trbg"><a target="__blank" href="http://www.austria-seek.at"
							id="5577">seek[Austria]</a></li>
						<li class="trbg"><a target="__blank" href="http://www.teoma.com" id="5578">Teoma</a></li>
						<li class="trbg"><a target="__blank" href="http://www.apali.com" id="5579">Apali[西]</a></li>
						<li class="trbg"></li>
						<li class="trbg"></li>
					</ul>
				</div>
			</div>



			<div style="float:left;margin-top:10px;">
				<h3
					>综合门户</h3>
				<div>
					<ul style="margin-top: -10px; margin-left: -20px;margin-top: -11px;">
						<li class="trbg"><a target="__blank" href="http://www.microsoft.com" id="5580">Microsoft</a></li>
						<li class="trbg"><a target="__blank" href="http://www.yahoo.com" id="5581">Yahoo!</a></li>
						<li class="trbg"><a target="__blank" href="http://www.msn.com" id="5582">MSN</a></li>
						<li class="trbg"><a target="__blank" href="http://www.naver.com" id="5583">NAVER[韩]</a></li>
						<li class="trbg"><a target="__blank" href="http://www.ebay.com" id="5584">eBay</a></li>
						<li class="trbg"><a target="__blank" href="http://www.aol.com" id="5585">AOL</a></li>
						<li class="trbg"><a target="__blank" href="http://www.thestar.com.my"
							id="5586">TheStar[马来]</a></li>
						<li class="trbg"><a target="__blank" href="http://www.cnet.com" id="5587">CNET</a></li>
						<li class="trbg"><a target="__blank" href="http://www.virgilio.it" id="5588">Virglio[意]</a></li>
						<li class="trbg"><a target="__blank" href="http://www.about.com" id="5589">About.com</a></li>
						<li class="trbg"><a target="__blank" href="http://www.zdnet.com" id="5590">ZDNet</a></li>
						<li class="trbg"><a target="__blank" href="http://www.timewarner.com"
							id="5591">TimeWarner</a></li>
						<li class="trbg"><a target="__blank" href="http://www.russia.com" id="5592">Russia[俄]</a></li>
						<li class="trbg"><a target="__blank" href="http://www.latribune.fr" id="5593">LaTribune[法]</a></li>
						<li class="trbg"><a target="__blank" href="http://www.aladin.de" id="5594">Aladin[德]</a></li>
						<li class="trbg"><a target="__blank" href="http://www.leparisien.fr" id="5595">LeParisien[法]</a></li>
						<li class="trbg"><a target="__blank" href="http://www.hispavista.com"
							id="5596">HispaVista[西]</a></li>
						<li class="trbg"><a target="__blank" href="http://www.abacho.de" id="5597">Abacho[德]</a></li>
						<li class="trbg"><a target="__blank" href="http://www.amazon.com" id="5598">Amazon</a></li>
						<li class="trbg"><a target="__blank" href="http://www.barnesandnoble.com"
							id="5599">Barnes and Noble</a></li>
						<li class="trbg"><a target="__blank" href="http://www.bbc.co.uk" id="5600">BBC[英]</a></li>
						<li class="trbg"><a target="__blank" href="http://www.excite.com" id="5601">Excite</a></li>
						<li class="trbg"><a target="__blank" href="http://www.go.com" id="5602">GO
								Network</a></li>
						<li class="trbg"><a target="__blank" href="http://www.go2net.com" id="5603">Go2Net</a></li>
						<li class="trbg"><a target="__blank" href="http://www.goo.ne.jp" id="5604">Goo[日]</a></li>
						<li class="trbg"><a target="__blank" href="http://www.icq.com" id="5605">ICQ[以]</a></li>
						<li class="trbg"><a target="__blank" href="http://www.kataweb.it" id="5606">Kataweb[意]</a></li>
						<li class="trbg"><a target="__blank" href="http://www.kdaily.com" id="5607">Kdaily[韩]</a></li>
						<li class="trbg"><a target="__blank" href="http://www.latribune.fr" id="5608">La
								Tribune[法]</a></li>
						<li class="trbg"><a target="__blank" href="http://www.looksmart.com/r"
							id="5609">LookSmart</a></li>
						<li class="trbg"><a target="__blank" href="http://www.nbc.com" id="5610">NBC</a></li>
						<li class="trbg"><a target="__blank" href="http://www.sky.com" id="5611">Sky[英]</a></li>
						<li class="trbg"><a target="__blank" href="http://www.facebook.com" id="5612">Facebook</a></li>
						<li class="trbg"><a target="__blank" href="http://www.rakuten.co.jp" id="5613">Rakuten</a></li>
						<li class="trbg"><a target="__blank" href="http://www.mapquest.com" id="5614">MapQuest</a></li>
						<li class="trbg"><a target="__blank" href="http://www.uol.com.br" id="5615">uol</a></li>
						<li class="trbg"><a target="__blank" href="http://www.nifty.com" id="5616">Nifty</a></li>
						<li class="trbg"><a target="__blank" href="http://www.match.com" id="5617">Match</a></li>
						<li class="trbg"><a target="__blank" href="http://www.marketwatch.com"
							id="5618">Markerwatch</a></li>
						<li class="trbg"><a target="__blank" href="http://www.friendster.com"
							id="5619">Friendster</a></li>
						<li class="trbg"><a target="__blank" href="http://www.daum.net" id="5620">Daum</a></li>
						<li class="trbg"><a target="__blank" href="http://www.mynet.com" id="5621">Mynet.com</a></li>
						<li class="trbg"><a target="__blank" href="http://www.macromedia.com"
							id="5622">Macromedia</a></li>
						<li class="trbg"></li>
						<li class="trbg"></li>
					</ul>
				</div>
			</div>


			<div style="float:left;margin-top:10px">
				<h3
					>海外华人网</h3>
				<div>
					<ul style="margin-top: -10px; margin-left: -20px;margin-top: -11px;">
						<li class="trbg"><a target="__blank" href="http://www.wuca.net" id="5623">世界华人网</a></li>
						<li class="trbg"><a target="__blank" href="http://www.world-chinese.org"
							id="5624">世界华人交流协会</a></li>
						<li class="trbg"><a target="__blank" href="http://www.chinadian.ca" id="5625">新华人网</a></li>
						<li class="trbg"><a target="__blank" href="http://www.ozxw.com" id="5626">欧洲华人在线网</a></li>
						<li class="trbg"><a target="__blank" href="http://www.kina.cc" id="5627">欧洲中国人社区</a></li>
						<li class="trbg"><a target="__blank" href="http://www.havebook.com" id="5628">情回中国</a></li>
						<li class="trbg"><a target="__blank" href="http://www.hsm.com.cn" id="5629">中国侨网</a></li>
						<li class="trbg"><a target="__blank" href="http://www.china-japan.com"
							id="5630">中日网</a></li>
						<li class="trbg"><a target="__blank" href="http://www.huayuqiao.org" id="5631">华语桥</a></li>
						<li class="trbg"><a target="__blank" href="http://www.chinesedaily.com"
							id="5632">华人今日网[繁]</a></li>
						<li class="trbg"><a target="__blank" href="http://www.worldnews.com.ph"
							id="5633">世界日报</a></li>
						<li class="trbg"><a target="__blank" href="http://www.chinadaily.com.cn"
							id="5634">中国日报</a></li>
						<li class="trbg"><a target="__blank" href="http://www.chinapress.com.my"
							id="5635">中国报</a></li>
						<li class="trbg"><a target="__blank" href="http://www.sinonew.net" id="5636">欧浪网</a></li>
						<li class="trbg"><a target="__blank" href="http://www.chinastarmedia.com"
							id="5637">中国之星媒体集团</a></li>
						<li class="trbg"><a target="__blank" href="http://www.chinese.net.nz"
							id="5638">新西兰中文网</a></li>
						<li class="trbg"><a target="__blank" href="http://www.torontoservice.com"
							id="5639">多伦多信息港</a></li>
						<li class="trbg"><a target="__blank" href="http://www.hanguo.net.cn" id="5640">韩国在线</a></li>
						<li class="trbg"><a target="__blank" href="http://www.torchinese.com"
							id="5641">多伦多华人资讯网</a></li>
						<li class="trbg"><a target="__blank" href="http://www.acwang.com" id="5642">美国华人网</a></li>
						<li class="trbg"><a target="__blank" href="http://www.dibai.com" id="5643">迪拜华人网(阿联酋)</a></li>
						<li class="trbg"><a target="__blank" href="http://www.renmin-hotel.com"
							id="5644">莫斯科华人网</a></li>
						<li class="trbg"><a target="__blank" href="http://www.chinaren.ca" id="5645">加拿大留学网</a></li>
						<li class="trbg"><a target="__blank" href="http://cic.simplux.com" id="5646">佳华网</a></li>
						<li class="trbg"><a target="__blank" href="http://www.dragonarea.com"
							id="5647">龙域丹麦华人网</a></li>
						<li class="trbg"><a target="__blank" href="http://www.lusochina.com" id="5648">葡华中心</a></li>
						<li class="trbg"><a target="__blank" href="http://www.sa-cnet.com" id="5649">南非中文网</a></li>
						<li class="trbg"><a target="__blank" href="http://icity.cc" id="5650">爱城华人</a></li>
						<li class="trbg"><a target="__blank" href="http://www.krchinese.com" id="5651">韩国华人网</a></li>
						<li class="trbg"><a target="__blank" href="http://www.la4chinese.com"
							id="5652">洛杉矶华人网[英]</a></li>
						<li class="trbg"><a target="__blank" href="http://www.cttv.tv/" id="5653">华人电视台</a></li>
						<li class="trbg"><a target="__blank" href="http://www.mca.org.my/chinese"
							id="5655">马来西亚华人公会</a></li>
						<li class="trbg"><a target="__blank" href="http://www.520sing.com" id="5656">新加坡华人社区</a></li>
						<li class="trbg"></li>
						<li class="trbg"></li>
					</ul>
				</div>
			</div>




			<div style="float:left;margin-top:10px">
				<h3
					>新闻网址</h3>
				<div>
					<ul style="margin-top: -10px; margin-left: -20px;margin-top: -11px;">
						<li class="trbg"><a target="__blank" href="http://news.yahoo.com" id="5657">Yahoo!News[美]</a></li>
						<li class="trbg"><a target="__blank" href="http://www.cnn.com" id="5658">CNN[美]</a></li>
						<li class="trbg"><a target="__blank" href="http://www.foxnews.com" id="5659">FoxNews[美]</a></li>
						<li class="trbg"><a target="__blank" href="http://www.usnews.com" id="5660">USNews[美]</a></li>
						<li class="trbg"><a target="__blank" href="http://www.fnn-news.com" id="5661">FNN-News[日]</a></li>
						<li class="trbg"><a target="__blank" href="http://www.asia1.com.sg" id="5662">AsiaOne[新加坡]</a></li>
						<li class="trbg"><a target="__blank" href="http://www.newsweek.com" id="5663">NewsWeek[美]</a></li>
						<li class="trbg"><a target="__blank" href="http://dailynews.netscape.com"
							id="5664">Netscape News[美]</a></li>
						<li class="trbg"><a target="__blank" href="http://www.irishnews.com" id="5665">IrishNews[爱]</a></li>
						<li class="trbg"><a target="__blank" href="http://cbsnews.cbs.com" id="5666">CBS
								News[美]</a></li>
						<li class="trbg"><a target="__blank" href="http://www.sky.com/news" id="5667">Sky
								News[英]</a></li>
						<li class="trbg"><a target="__blank" href="http://www.uatoday.net" id="5668">UA
								Today[乌克兰]</a></li>
						<li class="trbg"><a target="__blank" href="http://news.excite.com" id="5669">Excite
								News[美]</a></li>
						<li class="trbg"><a target="__blank" href="http://news.com.com" id="5670">CNET
								News</a></li>
						<li class="trbg"><a target="__blank" href="http://news.independent.co.uk"
							id="5671">The Independent</a></li>
						<li class="trbg"><a target="__blank" href="http://www.reuters.com" id="5672">Reuters
								news[美]</a></li>
						<li class="trbg"><a target="__blank" href="http://www.abc.net.au/news"
							id="5673">ABC News[澳]</a></li>
						<li class="trbg"><a target="__blank" href="http://www.abcnews.com" id="5674">ABC
								News[美]</a></li>
						<li class="trbg"><a target="__blank" href="http://www.bbc.co.uk" id="5675">BBC
								News[英]</a></li>
						<li class="trbg"><a target="__blank" href="http://www.theglobeandmail.com/"
							id="5676">Globeandmail[加]</a></li>
						<li class="trbg"><a target="__blank" href="http://www.cbc.ca/news" id="5677">News_CBC.ca[加]</a></li>
						<li class="trbg"><a target="__blank" href="http://www.msnbc.com" id="5678">MSNBC[美]</a></li>
						<li class="trbg"><a target="__blank" href="http://www.nzherald.co.nz"
							id="5679">NewZealandHerald</a></li>
						<li class="trbg"><a target="__blank" href="http://www.usatoday.com" id="5680">USA
								Today[美]</a></li>
						<li class="trbg"><a target="__blank" href="http://www.usnews.com" id="5681">US
								News[美]</a></li>
						<li class="trbg"><a target="__blank" href="http://www.washingtonpost.com"
							id="5682">washingtonpost[美]</a></li>
						<li class="trbg"></li>
						<li class="trbg"></li>
						<li class="trbg"></li>
						<li class="trbg"></li>
					</ul>
				</div>
			</div>


			<div style="float:left;margin-top:10px">
				<h3
					>体育网址</h3>
				<div>
					<ul style="margin-top: -10px; margin-left: -20px;margin-top: -11px;">
						<li class="trbg"><a target="__blank" href="http://sports.yahoo.com" id="5683">Yahoo!Sports[美]</a></li>
						<li class="trbg"><a target="__blank" href="http://www.sportsline.com"
							id="5684">SportsLine[美]</a></li>
						<li class="trbg"><a target="__blank" href="http://espn.go.com" id="5685">ESPN[美]</a></li>
						<li class="trbg"><a target="__blank" href="http://www.sikids.com" id="5686">SIKIDS</a></li>
						<li class="trbg"><a target="__blank" href="http://www.tsn.ca" id="5687">TSN[加]</a></li>
						<li class="trbg"><a target="__blank" href="http://www.sportinglife.com"
							id="5688">SportingLife</a></li>
						<li class="trbg"><a target="__blank" href="http://www.sports.com" id="5689">Sports</a></li>
						<li class="trbg"><a target="__blank" href="http://www.skysports.com" id="5690">Sky
								Sports</a></li>
						<li class="trbg"><a target="__blank" href="http://www.sportsnetwork.com"
							id="5691">Sports Network[美]</a></li>
						<li class="trbg"><a target="__blank" href="http://www.sportec.com" id="5692">Sportsec[西]</a></li>
						<li class="trbg"><a target="__blank" href="http://www.fansonly.com" id="5693">FansOnly[美]</a></li>
						<li class="trbg"><a target="__blank" href="http://www.foxsports.com" id="5694">Fox
								Sports[美]</a></li>
						<li class="trbg"><a target="__blank" href="http://www.sportingnews.com"
							id="5695">SportingNews[美]</a></li>
						<li class="trbg"><a target="__blank" href="http://sify.com/sports" id="5696">Sify
								sports[美]</a></li>
						<li class="trbg"><a target="__blank" href="http://www.cstv.com" id="5697">Cstv[美]</a></li>
						<li class="trbg"><a target="__blank" href="http://www.foxsports.com" id="5698">FoxSports[美]</a></li>
						<li class="trbg"><a
							href="http://www.msnbc.msn.com/id/3032113" id="5699">Sports-MSNBC</a></li>
						<li class="trbg"><a target="__blank" href="http://www.nbcolympics.com"
							id="5700">NBC Olympics[美]</a></li>
						<li class="trbg"><a
							href="http://www.nytimes.com/pages/sports" id="5701">Sports-NewYork</a></li>
						<li class="trbg"><a target="__blank" href="http://www.sikids.com" id="5702">SPORTS
								ILLUSTRATED</a></li>
						<li class="trbg"><a target="__blank" href="http://www.skysports.com" id="5703">SkySports[英]</a></li>
						<li class="trbg"><a target="__blank" href="http://www.sportinglife.com"
							id="5704">SportingLife[英]</a></li>
						<li class="trbg"><a target="__blank" href="http://www.teamtalk.com" id="5705">TeamTalk[英]</a></li>
						<li class="trbg"></li>
						<li class="trbg"></li>
					</ul>
				</div>
			</div>


			<div style="float:left;margin-top:10px">
				<h3
					>流行时尚</h3>
				<div>
					<ul style="margin-top: -10px; margin-left: -20px;margin-top: -11px;">
						<li class="trbg"><a target="__blank" href="http://www.elle.com" id="5750">ELLE</a></li>
						<li class="trbg"><a target="__blank" href="http://www.vogue.co.uk" id="5751">VOGUE</a></li>
						<li class="trbg"><a target="__blank" href="http://www.lizclaiborne.com"
							id="5752">Liz Claiborne</a></li>
						<li class="trbg"><a target="__blank" href="http://www.versace.com" id="5753">范思哲</a></li>
						<li class="trbg"><a target="__blank" href="http://www.glamour.com" id="5754">GLAMOUR</a></li>
						<li class="trbg"><a target="__blank" href="http://www.vuitton.com" id="5755">Louvis</a></li>
						<li class="trbg"><a target="__blank" href="http://avon.avon.com" id="5756">AVON</a></li>
						<li class="trbg"><a target="__blank" href="http://www2.gucci.com" id="5757">Gucci</a></li>
						<li class="trbg"><a target="__blank" href="http://www.lorealcosmetics.com"
							id="5758">欧莱雅</a></li>
						<li class="trbg"><a
							href="http://www.women24.com/Women24/FairLady/FL_Template"
							id="5759">FairLady</a></li>
						<li class="trbg"><a target="__blank" href="http://www.flare.com" id="5760">FLARE</a></li>
						<li class="trbg"><a target="__blank" href="http://www.papermag.com" id="5761">PAPERMAG</a></li>
						<li class="trbg"><a target="__blank" href="http://www.cosmomag.com" id="5762">COSMO</a></li>
						<li class="trbg"><a target="__blank" href="http://www.fashion-planet.com/"
							id="5763">Fashion Planet</a></li>
						<li class="trbg"><a target="__blank" href="http://www.koreafashion.org"
							id="5764">KFA[韩]</a></li>
						<li class="trbg"><a
							href="http://www.nytimes.com/pages/fashion" id="5765">Fashion&amp;Style</a></li>
						<li class="trbg"><a target="__blank" href="http://fashion.about.com/"
							id="5766">Fashion for women</a></li>
						<li class="trbg"><a target="__blank" href="http://www.fuk.co.uk" id="5767">FUK[英]</a></li>
						<li class="trbg"><a target="__blank" href="http://www.fashion.nl" id="5768">Fashion.nl</a></li>
						<li class="trbg"><a target="__blank" href="http://my-fashion.jp" id="5769">My
								Fashion[日]</a></li>
						<li class="trbg"><a target="__blank" href="http://www.fashion-era.com"
							id="5770">Fashion-era[英]</a></li>
						<li class="trbg"><a target="__blank" href="http://www.expfashion.com"
							id="5771">ExperienceFashion</a></li>
						<li class="trbg"><a target="__blank" href="http://www.londonfashionweek.co.uk"
							id="5772">LondonFashionWeek</a></li>
						<li class="trbg"><a target="__blank" href="http://men.style.com" id="5773">Men
								Style</a></li>
						<li class="trbg"><a target="__blank" href="http://www.lucire.com" id="5774">Lucire</a></li>

					</ul>
				</div>
			</div>


			<div style="float:left;margin-top:10px">
				<h3
					>国外电影</h3>
				<div>
					<ul style="margin-top: -10px; margin-left: -20px;margin-top: -11px;">
						<li class="trbg"><a target="__blank" href="http://www.warnerbros.com"
							id="5775">华纳兄弟[美]</a></li>
						<li class="trbg"><a target="__blank" href="http://www.universal/Public/images/pictures.com"
							id="5776">环球影视公司</a></li>
						<li class="trbg"><a target="__blank" href="http://www.pixar.com" id="5777">皮克斯制片公司</a></li>
						<li class="trbg"><a target="__blank" href="http://www.mpaa.org" id="5778">美国电影协会</a></li>
						<li class="trbg"><a target="__blank" href="http://www.millertheater.com"
							id="5779">哥伦比亚电影学院</a></li>
						<li class="trbg"><a target="__blank" href="http://www.foxmovies.com" id="5780">二十世纪福克斯</a></li>
						<li class="trbg"><a target="__blank" href="http://www.dreamworks.com"
							id="5781">梦工厂制作机构</a></li>
						<li class="trbg"><a target="__blank" href="http://www.disney.com" id="5782">迪斯尼[美]</a></li>
						<li class="trbg"><a target="__blank" href="http://www.torinofilmfest.org"
							id="5783">都灵电影节[意]</a></li>
						<li class="trbg"><a target="__blank" href="http://www.riff.it" id="5784">罗马电影节[意]</a></li>
						<li class="trbg"><a target="__blank" href="http://www.piff.org" id="5785">釜山电影节[韩]</a></li>
						<li class="trbg"><a target="__blank" href="http://www.neworleansfilmfest.com"
							id="5786">新奥尔良电影节[美]</a></li>
						<li class="trbg"><a
							href="http://www.mostradelcinemadivenezia.tv" id="5787">威尼斯电影节[意]</a></li>
						<li class="trbg"><a
							href="http://www.melbournefilmfestival.com.au" id="5788">墨尔本电影节[澳]</a></li>
						<li class="trbg"><a target="__blank" href="http://www.latinofilmfestival.org"
							id="5789">拉丁电影节[美]</a></li>
						<li class="trbg"><a target="__blank" href="http://www.ffm-montreal.org"
							id="5790">蒙特利尔电影节[加]</a></li>
						<li class="trbg"><a target="__blank" href="http://www.edfilmfest.org.uk"
							id="5791">爱丁堡电影节[英]</a></li>
						<li class="trbg"><a target="__blank" href="http://www.cicff.org" id="5792">芝加哥儿童电影节</a></li>
						<li class="trbg"><a target="__blank" href="http://www.worldfest.org" id="5793">休斯顿电影节[美]</a></li>
						<li class="trbg"><a target="__blank" href="http://www.festival-cannes.fr"
							id="5794">戛纳电影节</a></li>
						<li class="trbg"><a target="__blank" href="http://www.oscar.com" id="5795">奥斯卡电影展</a></li>
						<li class="trbg"><a target="__blank" href="http://www.foxmovies.com" id="5796">FoxMovies[美]</a></li>
						<li class="trbg"><a target="__blank" href="http://www.hollywood.com" id="5797">HollyWood[美]</a></li>
						<li class="trbg"><a target="__blank" href="http://www.movies.com" id="5798">Movies[美]</a></li>
						<li class="trbg"><a target="__blank" href="http://www.movieweb.com" id="5799">MovieWeb[美]</a></li>
						<li class="trbg"><a target="__blank" href="http://www.ngtv.net" id="5800">NGTV.net[韩]</a></li>
						<li class="trbg"><a target="__blank" href="http://www.cinemanow.com" id="5801">CinemaNow</a></li>
						<li class="trbg"><a target="__blank" href="http://www.allmovie.com" id="5802">All
								Movie Guide[美]</a></li>
						<li class="trbg"><a target="__blank" href="http://movies.yahoo.com" id="5803">Yahoo!Movies[美]</a></li>
						<li class="trbg"><a target="__blank" href="http://www.film.com" id="5804">Real[美]</a></li>
						<li class="trbg"><a target="__blank" href="http://filmforce.ign.com" id="5805">IGN
								FilmForce</a></li>
						<li class="trbg"><a target="__blank" href="http://www.filmlinc.com" id="5806">Filmlinc[美]</a></li>
						<li class="trbg"><a target="__blank" href="http://www.moviefone.com" id="5807">Moviefone[美]</a></li>
						<li class="trbg"><a target="__blank" href="http://www.moviejuice.com"
							id="5808">MovieJuice[美]</a></li>
						<li class="trbg"><a target="__blank" href="http://www.movie-page.com"
							id="5809">Movie-Page[挪]</a></li>
						<li class="trbg"><a target="__blank" href="http://www.movieflix.com" id="5810">MovieFlix[美]</a></li>
						<li class="trbg"><a target="__blank" href="http://www.filmfestivals.com"
							id="5811">FilmFestivals[法]</a></li>
						<li class="trbg"></li>
						<li class="trbg"></li>
						<li class="trbg"></li>
					</ul>
				</div>
			</div>



			<div style="float:left;margin-top:10px">
				<h3
					>著名通讯社</h3>
				<div>
					<ul style="margin-top: -10px; margin-left: -20px;margin-top: -11px;">
						<li class="trbg"><a target="__blank" href="http://www.bernama.com" id="5812">马来西亚国家通讯社[马来]</a></li>
						<li class="trbg"><a target="__blank" href="http://www.dowjones.com" id="5813">道琼斯[美]</a></li>
						<li class="trbg"><a target="__blank" href="http://www.interfax.ru" id="5814">国际文传电讯[俄]</a></li>
						<li class="trbg"><a target="__blank" href="http://www.ap.org" id="5815">美联社[美]</a></li>
						<li class="trbg"><a target="__blank" href="http://www.itar-tass.com" id="5816">俄通社-塔斯社[俄]</a></li>
						<li class="trbg"><a target="__blank" href="http://www.ansa.it" id="5817">安莎社[意]</a></li>
						<li class="trbg"><a target="__blank" href="http://www.unian.net" id="5818">乌克兰通讯社</a></li>
						<li class="trbg"><a target="__blank" href="http://www.in.gov.br" id="5819">巴西国家通讯社</a></li>
						<li class="trbg"><a target="__blank" href="http://www.lusa.pt" id="5820">Lusa通讯社[葡]</a></li>
						<li class="trbg"><a target="__blank" href="http://www.mediafax.ro" id="5821">MediaFax通讯社[罗]</a></li>
						<li class="trbg"><a target="__blank" href="http://www.mena.org.eg" id="5822">中东社[埃]</a></li>
						<li class="trbg"><a target="__blank" href="http://www.pa.press.net" id="5823">英国国家通讯社[英]</a></li>
						<li class="trbg"><a target="__blank" href="http://www.xinhua.org" id="5824">新华通讯社</a></li>
						<li class="trbg"><a target="__blank" href="http://chinese.yonhapnews.co.kr"
							id="5825">韩国联合通讯社</a></li>
						<li class="trbg"><a target="__blank" href="http://www.agenziaitalia.it"
							id="5826">AGI通讯社[意]</a></li>
						<li class="trbg"><a target="__blank" href="http://www.tanjug.co.yu" id="5827">南斯拉夫国家通讯社</a></li>
						<li class="trbg"><a target="__blank" href="http://www.beta.co.yu" id="5828">Beta通讯社[南斯拉夫]</a></li>
						<li class="trbg"><a target="__blank" href="http://www.cp.org" id="5829">加拿大国家通讯社[加]</a></li>
						<li class="trbg"><a target="__blank" href="http://www.kcna.co.jp" id="5830">朝鲜中央通讯社[朝]</a></li>
						<li class="trbg"><a target="__blank" href="http://www.iha.com.tr" id="5831">Ihlas通讯社[土]</a></li>
						<li class="trbg"><a target="__blank" href="http://www.anp.nl" id="5832">ANP通讯社[荷]</a></li>
						<li class="trbg"><a target="__blank" href="http://www.irna.com" id="5833">伊斯兰共和新闻社[伊朗]</a></li>
						<li class="trbg"></li>
						<li class="trbg"></li>
						<li class="trbg"></li>
					</ul>
				</div>
			</div>




			<div style="float:left;margin-top:10px">
				<h3
					>报刊杂志</h3>
				<div>
					<ul style="margin-top: -10px; margin-left: -20px;margin-top: -11px;">
						<li class="trbg"><a target="__blank" href="http://www.nature.com" id="5834">自然[英]</a></li>
						<li class="trbg"><a target="__blank" href="http://www.sciencemag.org"
							id="5835">科学[美]</a></li>
						<li class="trbg"><a target="__blank" href="http://www.time.com" id="5836">时代[美]</a></li>
						<li class="trbg"><a target="__blank" href="http://www.discovery.com" id="5837">发现[英]</a></li>
						<li class="trbg"><a target="__blank" href="http://www.nationalgeographic.com"
							id="5838">美国国家地理杂志</a></li>
						<li class="trbg"><a target="__blank" href="http://www.guardian.co.uk"
							id="5839">卫报(英)</a></li>
						<li class="trbg"><a target="__blank" href="http://www.life.com" id="5840">生活[美]</a></li>
						<li class="trbg"><a target="__blank" href="http://www.private-eye.co.uk"
							id="5841">侦探[英]</a></li>
						<li class="trbg"><a target="__blank" href="http://www.timeout.com/london"
							id="5842">闲暇[英]</a></li>
						<li class="trbg"><a target="__blank" href="http://www.worth.com" id="5843">价值[美]</a></li>
						<li class="trbg"><a target="__blank" href="http://www.zaobao.com" id="5844">联合早报</a></li>
						<li class="trbg"><a target="__blank" href="http://www.nytimes.com" id="5845">纽约时报[美]</a></li>
						<li class="trbg"><a target="__blank" href="http://www.nikkei.co.jp" id="5846">日本经济新闻[日]</a></li>
						<li class="trbg"><a target="__blank" href="http://www.asahi.com" id="5847">朝日新闻社[日]</a></li>
						<li class="trbg"><a target="__blank" href="http://www.smh.com.au" id="5848">悉尼晨报[澳大利亚]</a></li>
						<li class="trbg"><a target="__blank" href="http://www.usatoday.com" id="5849">今日美国[美]</a></li>
						<li class="trbg"><a target="__blank" href="http://www.yomiuri.co.jp" id="5850">读买新闻[日]</a></li>
						<li class="trbg"><a target="__blank" href="http://www.forbes.com" id="5851">福布斯[美]</a></li>
						<li class="trbg"><a target="__blank" href="http://www.nzherald.co.nz"
							id="5852">新西兰先驱报</a></li>
						<li class="trbg"><a target="__blank" href="http://www.telegraph.co.uk"
							id="5853">每日电讯报[英]</a></li>
						<li class="trbg"><a target="__blank" href="http://www.iht.com" id="5854">国际先驱论坛报[法]</a></li>
						<li class="trbg"><a target="__blank" href="http://straitstimes.asia1.com.sg"
							id="5855">海峡时报[新加坡]</a></li>
						<li class="trbg"><a target="__blank" href="http://www.thestar.com" id="5856">多伦多星报[加]</a></li>
						<li class="trbg"><a target="__blank" href="http://www.utusan.com.my" id="5857">Utusan日报[马来]</a></li>
						<li class="trbg"><a target="__blank" href="http://www.csmonitor.com" id="5858">基督教科学箴言报</a></li>
						<li class="trbg"><a target="__blank" href="http://www.liberation.com"
							id="5859">自由报[法]</a></li>
						<li class="trbg"><a target="__blank" href="http://www.lemonde.fr" id="5860">世界报[法]</a></li>
						<li class="trbg"><a target="__blank" href="http://www.welt.de" id="5861">世界报[德]</a></li>
						<li class="trbg"><a target="__blank" href="http://www.independent.co.uk"
							id="5862">独立报[英]</a></li>
						<li class="trbg"><a target="__blank" href="http://www.lefigaro.fr" id="5863">费加罗报[法]</a></li>
						<li class="trbg"><a target="__blank" href="http://www.elle.fr" id="5864">ELLE时装杂志[法]</a></li>
						<li class="trbg"><a target="__blank" href="http://www.tagesspiegel.de"
							id="5865">镜报[德]</a></li>
						<li class="trbg"><a target="__blank" href="http://www.wsj.com" id="5866">华尔街日报[美]</a></li>
						<li class="trbg"><a target="__blank" href="http://www.repubblica.it" id="5867">共和报[意]</a></li>
						<li class="trbg"><a target="__blank" href="http://www.rd.com" id="5868">读者文摘[美]</a></li>
						<li class="trbg"><a target="__blank" href="http://www.fortunechina.com"
							id="5869">财富[中]</a></li>
						<li class="trbg"><a target="__blank" href="http://www.fortune.com" id="5870">财富[美]</a></li>
						<li class="trbg"><a target="__blank" href="http://www.thetimes.co.uk"
							id="5871">泰晤士报[英]</a></li>
						<li class="trbg"><a target="__blank" href="http://www.liberation.com"
							id="5872">解放报[法]</a></li>
						<li class="trbg"><a target="__blank" href="http://www.techreview.com"
							id="5873">技术评论[美]</a></li>
						<li class="trbg"><a target="__blank" href="http://www.manilatimes.net"
							id="5874">马尼拉时报[菲]</a></li>
						<li class="trbg"><a target="__blank" href="http://www.washingtonpost.com"
							id="5875">华盛顿邮报[美]</a></li>
						<li class="trbg"><a target="__blank" href="http://www.latimes.com" id="5876">洛杉矶时报[美]</a></li>
						<li class="trbg"><a target="__blank" href="http://www.nydailynews.com"
							id="5877">纽约每日新闻[美]</a></li>
						<li class="trbg"><a target="__blank" href="http://www.nypost.com" id="5878">纽约邮报[美]</a></li>
						<li class="trbg"><a
							href="http://www.ftchinese.com/sc/index.jsp" id="5879">金融时报[中]</a></li>
						<li class="trbg"><a target="__blank" href="http://www.ft.com" id="5880">金融时报[英]</a></li>
						<li class="trbg"><a target="__blank" href="http://www.newsday.com" id="5881">华盛顿新闻报[美]</a></li>
						<li class="trbg"><a target="__blank" href="http://www.baltimoresun.com"
							id="5882">巴尔的摩太阳报[美]</a></li>
						<li class="trbg"><a target="__blank" href="http://www.newsweek.com" id="5883">新闻周刊[美]</a></li>
						<li class="trbg"><a target="__blank" href="http://www.businessweek.com"
							id="5884">商业周刊[美]</a></li>
						<li class="trbg"><a target="__blank" href="http://www.mirror.co.uk" id="5885">每日镜报[英]</a></li>
						<li class="trbg"><a target="__blank" href="http://www.express.co.uk" id="5886">每日快报[英]</a></li>
						<li class="trbg"><a
							href="http://chinese.wsj.com/gb/index.asp" id="5887">华尔街日报中文版</a></li>
						<li class="trbg"><a target="__blank" href="http://www.observer.co.uk"
							id="5888">观察家报[英]</a></li>
						<li class="trbg"><a target="__blank" href="http://www.newsoftheworld.co.uk"
							id="5889">世界新闻报[英]</a></li>
						<li class="trbg"><a target="__blank" href="http://www.economist.com" id="5890">经济学家[英]</a></li>
						<li class="trbg"><a target="__blank" href="http://www.spectator.co.uk"
							id="5891">旁观者[英]</a></li>
						<li class="trbg"><a target="__blank" href="http://www.newstatesman.co.uk"
							id="5892">新政治家[英]</a></li>
						<li class="trbg"><a target="__blank" href="http://www.ipcmedia.com" id="5893">妇女界[英]</a></li>
						<li class="trbg"><a target="__blank" href="http://www.chicagotribune.com"
							id="5894">芝加哥论坛报[美]</a></li>
						<li class="trbg"><a target="__blank" href="http://thestar.com.my" id="5895">星报[马来西亚]</a></li>
						<li class="trbg"><a target="__blank" href="http://www.intimes.com.my"
							id="5896">国际时报[马来西亚]</a></li>
						<li class="trbg"><a target="__blank" href="http://gazeta.ru" id="5897">俄罗斯日报</a></li>
						<li class="trbg"><a target="__blank" href="http://www.scotsman.com" id="5898">苏格兰人报[英]</a></li>
						<li class="trbg"><a target="__blank" href="http://www.chron.com" id="5899">休斯顿时报[美]</a></li>
						<li class="trbg"><a target="__blank" href="http://www.asahi.com" id="5900">朝日新闻[日本]</a></li>
						<li class="trbg"><a target="__blank" href="http://business-times.com"
							id="5901">商业时报[美]</a></li>
						<li class="trbg"><a target="__blank" href="http://www.bangkokpost.net"
							id="5902">曼谷邮报[泰国]</a></li>
						<li class="trbg"><a target="__blank" href="http://www.nzherald.co.nz"
							id="5903">新西兰先驱报[新西兰]</a></li>
						<li class="trbg"><a target="__blank" href="http://www.milanofinanza.it"
							id="5904">Milano Finanza[意]</a></li>
						<li class="trbg"><a target="__blank" href="http://www.canberratimes.com.au"
							id="5905">Canberra Times[澳]</a></li>
						<li class="trbg"><a target="__blank" href="http://www.evening-chronicle.co.uk"
							id="5906">Evening Chronicle</a></li>
						<li class="trbg"><a target="__blank" href="http://www.eastlancsnews.co.uk"
							id="5907">Burnley Express</a></li>
						<li class="trbg"><a target="__blank" href="http://www.belfasttelegraph.co.uk"
							id="5908">Montreal Gazette</a></li>
						<li class="trbg"><a target="__blank" href="http://www.waterford-today.ie"
							id="5909">Waterford Today</a></li>
						<li class="trbg"><a target="__blank" href="http://home.iol.ie" id="5910">Sunny
								Daze[爱尔兰]</a></li>
						<li class="trbg"><a target="__blank" href="http://www.kppublish.ru" id="5911">Komsomolskaya</a></li>
						<li class="trbg"><a target="__blank" href="http://www.welt.de" id="5912">Die
								Welt[德国]</a></li>
						<li class="trbg"><a target="__blank" href="http://www.stuff.co.nz" id="5913">Press
								On-Line</a></li>
						<li class="trbg"><a target="__blank" href="http://www.elle.de" id="5914">ELLE[德国]</a></li>
						<li class="trbg"><a target="__blank" href="http://www.dcn.com.au/" id="5915">Dly
								Commercial[澳]</a></li>
						<li class="trbg"><a target="__blank" href="http://www.english4u.net" id="5916">空中美语</a></li>
						<li class="trbg"><a target="__blank" href="http://www.pravda.ru" id="5917">真理报[俄]</a></li>
						<li class="trbg"><a target="__blank" href="http://www.yomiuri.co.jp" id="5918">读卖新闻(日)</a></li>
						<li class="trbg"><a target="__blank" href="http://www.bangkokpost.net"
							id="5919">曼谷邮报[泰]</a></li>
						<li class="trbg"><a target="__blank" href="http://www.japantimes.co.jp"
							id="5920">日本时报[日]</a></li>
						<li class="trbg"><a target="__blank" href="http://www.asahi.com" id="5921">朝日新闻[日]</a></li>
						<li class="trbg"><a target="__blank" href="http://www.jpost.com" id="5922">耶路撒冷邮报[以]</a></li>
						<li class="trbg"><a target="__blank" href="http://www.kppublish.ru" id="5923">共青团报[俄]</a></li>
						<li class="trbg"><a target="__blank" href="http://www.izvestia.ru" id="5924">消息报[俄]</a></li>
						<li class="trbg"><a target="__blank" href="http://www.examiner.com" id="5925">旧金山晚报[美]</a></li>
						<li class="trbg"><a target="__blank" href="http://www.independent.ie"
							id="5926">爱尔兰独立报[爱]</a></li>
						<li class="trbg"><a target="__blank" href="http://jdw.janes.com" id="5927">简氏防务周刊[英]</a></li>
						<li class="trbg"></li>
					</ul>
				</div>
			</div>





			<div style="float:left;margin-top:10px">
				<h3
					>国外相册</h3>
				<div>
					<ul style="margin-top: -10px; margin-left: -20px;margin-top: -11px;">
						<li class="trbg"><a target="__blank" href="http://www.flickr.com" id="5962">Flickr[英]</a></li>
						<li class="trbg"><a target="__blank" href="http://www.pbase.com" id="5963">Pbase[英]</a></li>
						<li class="trbg"><a target="__blank" href="http://www.smugmug.com" id="5964">SmugMug[英]</a></li>
						<li class="trbg"><a target="__blank" href="http://www.fotothing.com" id="5965">Fotothing[英]</a></li>
						<li class="trbg"><a target="__blank" href="http://photodom.com" id="5966">PHOTODOM[俄]</a></li>
						<li class="trbg"><a target="__blank" href="http://photobucket.com" id="5967">Photobucket[英]</a></li>
						<li class="trbg"></li>
						<li class="trbg"></li>
						<li class="trbg"></li>
						<li class="trbg"></li>
					</ul>
				</div>
			</div>

		</div>
	</div>
</div>
	   
	   
	   
       <!--zp  添加中间内容结束-->

        <!-- page footer -->
        <div class="cont_copyrignt ">
            <div class="container">
                    <div class="cont_copytight_text pull-left"><a target="_blank" href="http://www.miitbeian.gov.cn/">ICP证：沪ICP备17002025号-1</a>  
                    <span>&nbsp;&nbsp;&nbsp;&nbsp;外贸浏览器是一款专门为外贸/IT等提供必备网络服务的浏览器，<b>使用时请务必遵守您当地的法律</b>.</span>
                    </div>
                <div class="cont_copytight_text pull-right">©2017 Copyright.
                    All rights reserved
                </div>
            </div>
        </div>
    
        <!-- 首页ad -->
        <div class="home-ad hidden">
          <div class="ad-wrap">
            <img src="//Public/images/images/course.png" alt="">
            <a id="close-ad" href="javascript:;">X</a>
          </div>
        </div>
    
</block>
