<extend name="Base/common"/>

<block name="body">
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico"/>
    <link type="text/css" rel="stylesheet" href="__CSS__/home.css"/>
    <link type="text/css" rel="stylesheet" href="__CSS__/index.css"/>
    <script src="__JS__/build/mediaelement-and-player.min.js"></script>
    <script src="__JS__/build/jquery.SuperSlide.2.1.1.js"></script>
    <script src="__JS__/build/unslider.min.js"></script>
    <style>
        #main-container{margin: 0; padding: 0;max-width:100%;}
        .main-header{height:300px; background-color:#8dd8f7;}
        .main-header .wrap{max-width:1160px; margin: 0 auto;}
        .main-header .wrap .content{position:relative;}
        .main-header .wrap .content .ad{width:250px;height:150px;position:absolute;top:80px;right:200px;text-align:center;}
        .main-header .wrap .content .ad h1{margin:0;padding-bottom:5px;border-bottom:1px solid #222;font-size:32px;font-weight:700;}
        
        .main-body{max-width:1160px;margin:0 auto;}
        .main-body .header{text-align:center;font-size:24px;font-weight:600;margin:40px 0;}
        .main-body .content{margin-bottom:110px;}
        .main-body .content .content-item{float:left;width:25%;height:350px;border:1px solid #eee;}
        .main-body .content .content-item .item-header{height:120px;background-color:#ebf8fe;text-align:center;padding:10px 0;}
        .main-body .content .content-item .item-body{text-align:center;height:230px;padding:20px 0;}
        .main-body .content .content-item .item-body a{display:block;width:210px;height:30px;margin:0 auto;background-color:#009bd4;color:#fff;text-decoration:none;font-size:16px;padding:2px 0;}
        
        
        .cont_copyrignt {max-width:1160px; margin:0 auto;}
    </style>
        <a style="position:fixed;top: 50%;right: 0px;z-index:99;" target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=3052113858&site=qq&menu=yes"><img border="0" src="http://wpa.qq.com/pa?p=2:2145822969:53" alt="有事情联系我" title="有事情联系我"/></a>
        <div class="main-header">
            <div class="wrap">
                <div class="content">
                    <img src="Public/images/device.png" alt="">
                    <div class="ad">
                        <h1>覆盖全平台</h1>
                        <h2>PC / IOS / Android体验界限</h2>
                        <p>免费路由分流，国内外访问互不干涉</p>
                        <p>最快限度加快访问速度，降低流量流失</p>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="main-body">
            <div class="header">产品下载</div>
            <div class="content clearfix">
                <div class="content-item">
                    <div class="item-header">
                        <img src="Public/images/win.png" alt="">
                    </div>
                    <div class="item-body">
                        <h1 style="margin-top:40px;">windows安装版</h1>
                        <p>win7/win8/win10</p>
                        <a href="http://vip.51sgg.cc/51sggSetup.exe">点 击 下 载</a>
                    </div>
                </div>
                <div class="content-item">
                    <div class="item-header">
                        <img src="Public/images/green.png" alt="">
                    </div>
                    <div class="item-body">
                        <h1 style="margin-top:40px;">windows绿色版</h1>
                        <p>win7/win8/win10</p>
                        <a href="http://vip.51sgg.cc/51sgg.7z">点 击 下 载</a>
                    </div>
                </div>
                <div class="content-item">
                    <div class="item-header">
                        <img src="Public/images/iphone.png" alt="">
                    </div>
                    <div class="item-body">
                        <h1 style="margin-top:0;">iphone手机版</h1>
                        <p>支持手机系统版本IOS9.0以上</p>
                        <img src="Public/images/under-dev.png" alt="">
                    </div>
                </div>
                <div class="content-item">
                    <div class="item-header">
                        <img src="Public/images/android.png" alt="">
                    </div>
                    <div class="item-body">
                        <h1 style="margin-top:0;">Android客户端</h1>
                        <p>支持手机系统版本Android 4.0以上</p>
                        <img src="Public/images/under-dev.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <!-- page footer -->
        <div class="cont_copyrignt ">
            <div class="container">
                    <div class="cont_copytight_text pull-left"><a target="_blank" href="http://www.miitbeian.gov.cn/">ICP证：沪ICP备17002025号-1</a>  
                    <span>&nbsp;&nbsp;&nbsp;&nbsp;外贸浏览器是一款专门为外贸/IT等提供必备网络服务的浏览器，<b>使用时请务必遵守您当地的法律</b>.</span>
                    </div>
                <div class="cont_copytight_text pull-right">©2017 Copyright.
                    All rights reserved
                </div>
            </div>
        </div>
</block>
