<extend name="Base/common"/>

<block name="body">
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico"/>
    <link type="text/css" rel="stylesheet" href="__CSS__/home.css"/>
    <link type="text/css" rel="stylesheet" href="__CSS__/index.css"/>
    <script src="__JS__/build/mediaelement-and-player.min.js"></script>
    <script src="__JS__/build/jquery.SuperSlide.2.1.1.js"></script>
    <script src="__JS__/build/unslider.min.js"></script>
        <a style="position:fixed;top: 50%;right: 0px;z-index:99;" target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=3052113858&site=qq&menu=yes"><img border="0" src="http://wpa.qq.com/pa?p=2:2145822969:53" alt="有事情联系我" title="有事情联系我"/></a>
        <!-- 公告 -->
        <div id="notice" class="clearfix" style="margin-top:-20px;">
            <i style="float:left;width:22px;margin:9px 10px 0 0;"><img src="Public/images/horn.png"></i>
            <div class="txtMarquee-left">
                <div class="bd">
                    <div style="overflow:hidden; position:relative; width:434px">
                        <ul id="notice-list" class="infoList">
                            <!-- <li><a href="{:U('Home/index/chongzhi#notice')}" target="_blank">中国打破了世界软件巨头规则</a><span>[11-11]</span></li>-->
                        </ul>
                    </div>
                </div>
            </div>
            <div style="float:right;margin-top:12px;">
              <a href="{:U('Home/index/chongzhi#notice')}" style="color:#e54048;">更多</a>
            </div>
        </div>
        <!-- 介绍 -->
        <div id="top">
            <!-- unslider -->
            <div class="banner" id="b03">
                <ul>
                    <li style="position:relative;">
                      <img src="Public/images/top.jpg" alt="">
                      <a class="download" href="{:U('Home/index/download')}" title="立即下载51sgg加速器" ></a>
                    </li>
                    <li><img src="Public/images/top_03.jpg" alt=""></li>
                    <li><img src="Public/images/top_04.jpg" alt=""></li>
                </ul>
            </div>
        </div>
        <!-- 产品开始 -->
        <div class="index-item">
            <div class="index-title">全球领先，全新概念，全新产品</div>
            <div class="index-info">安全、稳定、智能、优选、百达外贸浏览器助您翻越每一道瓶颈</div>
            <div class="y-wrap clearfix">
              <ul class="card-area">
                <li class="card-item active">
                  <div class="card-main">
                    <div class="card-title title-even title-first">
                      <img src="/Public/images/1-1.png" alt="">
                    </div>
                    <div class="card-title title-even title-second">
                      <img src="/Public/images/1-2.png" alt="">
                    </div>
                    <div class="card-content content-first">
                      <h1>国内首款内置</h1>
                      <h1>外贸插件的浏览器</h1>
                    </div>
                    <div class="card-content content-second">
                      <h2>国内首款内置外贸插件的浏览器</h2>
                      <p>直接帮助用户访问国外站点提升效率，免去传统加速器软件繁琐的使用流程。无需选择连接模式、无需选择节点，只需登录成功，便可自动连接最优节点服务器，更直接、更有效的访问目标站点。</p>
                    </div>
                  </div>
                </li>
                <li class="card-item">
                  <div class="card-main">
                    <div class="card-title title-even title-first">
                      <img src="/Public/images/3-1.png" alt="">
                    </div>
                    <div class="card-title title-even title-second">
                      <img src="/Public/images/3-2.png" alt="">
                    </div>
                    <div class="card-content content-first">
                      <h1>世界那么大</h1>
                      <h1>我都能看看</h1>
                    </div>
                    <div class="card-content content-second">
                      <h2>世界那么大，我都能看看</h2>
                      <p>为您打造的外贸浏览器拥有高品质的服务体验，让您在中国你就能看到全世界的风景，让您的本地网络变得无所不能，从此访问全世界的网页，再也不慢 在国外也可以连接中国服务器,欣赏国内电影、玩游戏等,优酷、土豆、爱奇艺、随意访问。</p>
                    </div>
                  </div>
                </li>
                <li class="card-item">
                  <div class="card-main">
                    <div class="card-title title-even title-first">
                      <img src="/Public/images/4-1.png" alt="">
                    </div>
                    <div class="card-title title-even title-second">
                      <img src="/Public/images/4-2.png" alt="">
                    </div>
                    <div class="card-content content-first">
                      <h1>体验无障碍</h1>
                      <h1>急速浏览器</h1>
                    </div>
                    <div class="card-content content-second">
                      <h2>体验无障碍急速浏览</h2>
                      <p>国内、美国、台湾、香港、韩国、日本、新加坡、马来西亚、澳大利亚、俄罗斯、越南、加拿大、英国、德国、法国、荷兰、西班牙等世界各国线路任你选择，线路数量达到8000条，与20多个国家数百个机房签订战略合作协议，让您轻松畅游全球。</p>
                    </div>
                  </div>
                </li>
                <li class="card-item">
                  <div class="card-main">
                    <div class="card-title title-even title-first">
                      <img src="/Public/images/2-1.png" alt="">
                    </div>
                    <div class="card-title title-even title-second">
                      <img src="/Public/images/2-2.png" alt="">
                    </div>
                    <div class="card-content content-first">
                      <h1>超级强大的</h1>
                      <h1>内核浏览器</h1>
                    </div>
                    <div class="card-content content-second">
                      <h2>超级强大的内核浏览器</h2>
                      <p>经过专业优化过的浏览器内核，目标是提升浏览器的稳定性、速度和安全性，并创造出简单且有效率的使用者界面。</p>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
        </div>
        <!-- 产品结束 -->
        
        <!-- recharge start -->
        <div class="index-item">
            <div class="index-title">国际高速干线,全球畅通无阻</div>
            <div class="index-info">多条线路,随意切换15元起,经济实惠,最高年优惠150元</div>
            <div class="y-wrap clearfix">
                <ul class="price-area">
                    <li class="price-item">
                        <div class="price-header">
                            <h1>免费使用</h1>
                        </div>
                        <div class="price-body">
                            <p>海外加速</p>
                            <p>智能检测</p>
                            <p>安全加密</p>
                            <p>高速稳定</p>
                            <p>限时断线</p>
                            <p>限制流量</p>
                            <div>
                                <h1>0元/天</h1>
                                <a href="javascript:;">免费三天</a>
                            </div>
                        </div>
                    </li>
                    <li class="price-item">
                        <div class="price-header">
                            <h1>包月套餐</h1>
                        </div>
                        <div class="price-body">
                            <p>海外加速</p>
                            <p>智能检测</p>
                            <p>自动优选</p>
                            <p>安全加密</p>
                            <p>高速稳定</p>
                            <p>不限流量</p>
                            <div>
                                <h1>15元/月</h1>
                                <a href="{:U('Home/index/chongzhi')}">立即充值</a>
                            </div>
                        </div>
                    </li>
                    <li class="price-item">
                        <div class="price-header">
                            <h1>季度套餐</h1>
                        </div>
                        <div class="price-body">
                            <p>海外加速</p>
                            <p>智能检测</p>
                            <p>自动优选</p>
                            <p>安全加密</p>
                            <p>高速稳定</p>
                            <p>不限流量</p>
                            <div>
                                <h1>40元/季</h1>
                                <a href="{:U('Home/index/chongzhi')}">立即充值</a>
                            </div>
                        </div>
                    </li>
                    <li class="price-item">
                        <div class="price-header">
                            <h1>包年套餐</h1>
                        </div>
                        <div class="price-body">
                            <p>海外加速</p>
                            <p>智能检测</p>
                            <p>自动优选</p>
                            <p>安全加密</p>
                            <p>高速稳定</p>
                            <p>不限流量</p>
                            <div>
                                <h1>150元/年</h1>
                                <a href="{:U('Home/index/chongzhi')}">立即充值</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <!-- recharge end -->

        <!-- page footer -->
        <div class="cont_copyrignt ">
            <div class="container">
                    <div class="cont_copytight_text pull-left"><a target="_blank" href="http://www.miitbeian.gov.cn/">ICP证：沪ICP备17002025号-1</a>  
                    <span>&nbsp;&nbsp;&nbsp;&nbsp;外贸浏览器是一款专门为外贸/IT等提供必备网络服务的浏览器，<b>使用时请务必遵守您当地的法律</b>.</span>
                    </div>
                <div class="cont_copytight_text pull-right">©2017 Copyright.
                    All rights reserved
                </div>
            </div>
        </div>
    
        <!-- 首页ad -->
    <script>
        $(function(){
            $('#b03').unslider({dots: true, delay: 5000});
            $(".card-item").hover(function(){
                $(this).addClass("active").siblings().removeClass("active");
            })
            $(".price-item").mouseover(function(){
                $(this).addClass("active");
            })
            $(".price-item").mouseout(function(){
                $(this).removeClass("active");
            })
            var data = {
                index: 0,
                count: 5,
            };
            $.ajax({
                type: 'post',
                url: "{:U('Notice/getnotice')}",
                data: {'data':data},
                async: true,
                success: function(data){
                    console.log(data.data);
                    initNoticeList(data.data);
                },
                error: function(data){
                    alert('出现了未知错误:'+data);
                },
            });
        
            function initNoticeList(arr){
                var list = $("#notice-list");
                list.html("");
                for(var i = 0; i < arr.length; i++){
                    var item = arr[i];
                    var li = $("<li><a href=\"{:U('Home/index/chongzhi#notice')}\" target='_blank'>" + item.title + "</a><span>[" + item.create_time + "]</span></li>");
                    list.append(li);
                }
                jQuery(".txtMarquee-left").slide( { mainCell:".bd ul",autoPlay:true,effect:"leftMarquee",vis:2,interTime:50,opp:false,mouseOverStop:true  });
            }
        });

        function refresh(){
            window.location.reload();//刷新当前页面.
        }
        $(document).ready(function(){
            $('#wxzfs').click(function(){
                var wxcode=$('input[name="wxzf"]:checked').val();
                var out_trade_no="";
                $.ajax({
                    type: 'post',
                    url: "{:U('Wei/doweipay')}",
                    data: {'data':wxcode},
                    async: true,
                    success: function(data){
                        $('#wxvalue').attr('src','qrcode.php?data='+data.url);
                        $('#wxvalue').removeClass('hidden');
                        out_trade_no=data.out_trade_no;
                    },
                    error: function(data){
                        alert('出现了未知错误');
                    },
                });
                
                
                setInterval(function(){
                    $.ajax({
                        type:'post',
                        url:"{:U('Wei/verify')}",
                        data:{'out_trade_no':out_trade_no},
                        async:true,
                        success:function(data){
                            if(data.trade_status=='WX_SUCCESS'){
                                refresh();
                            }
                        },
                    });
                },5000);
            });
            
            $('#myTab a').click(function(){
                var currtab=$(this).attr('id');
                if(currtab=='zfbtab'){
                    $('#wxvalue').addClass('hidden');
                }
            });
            
            $("input[name=wxzf]").click(function(){
                var wxcode=$('input[name="wxzf"]:checked').val();
                var out_trade_no="";
                $.ajax({
                    type: 'post',
                    url: "{:U('Wei/doweipay')}",
                    data: {'data':wxcode},
                    async: true,
                    success: function(data){
                        $('#wxvalue').attr('src','qrcode.php?data='+data.url);
                        $('#wxvalue').removeClass('hidden');
                        out_trade_no=data.out_trade_no;
                    },
                    error: function(data){
                        alert('出现了未知错误,请联系管理员');
                    },
                });
            });
        });
    </script>
</block>
